# Laravel environment files
.env
.env.backup
.env.production
.envrc

# Node & PHP dependencies
/node_modules
/vendor

# Laravel generated
/public/build
/public/hot
/public/storage
/storage/*.key
/.phpunit.cache
.phpunit.result.cache

# IDE/editor configs
/.idea
/.vscode
/.zed
/.fleet

# Homestead
Homestead.json
Homestead.yaml

# Logs and misc
auth.json
npm-debug.log
yarn-error.log
.phpactor.json
